* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #deebf8;
	color: #293264;
	font-family: "Karla", sans-serif;
}

.main {
	width: 600px;
	max-width: 90%;
	margin: 0 auto;
}

.question-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #293264;
}

.question-container:last-of-type {
	border-bottom: none;
	padding-bottom: 0px;
}

h1.question {
	font-size: 1.25rem;
}

.answers-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.answers-btn-container {
	display: flex;
	flex-wrap: wrap;
	gap: 13px;
	margin-top: 14px;
}

.text-center {
	margin-top: 2em;
	text-align: center;
}

.answer-btn {
	border: 1px solid #4d5b9e;
	border-radius: 8px;
	background-color: transparent;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 0.75rem;
	color: #293264;
	padding: 0.5em 1.5em;
}

.answer-btn.selected {
	background-color: #d6dbf5;
	border-color: #d6dbf5;
}

.answer-btn.correct {
	background-color: #94d7a2;
	border-color: #94d7a2;
}

.answer-btn.incorrect {
	background-color: #f8bcbc;
	border-color: #f8bcbc;
}

.answer-btn.dimmed {
	opacity: 0.5;
}

.check-btn,
.play-again-btn {
	background-color: #4d5b9e;
	border-radius: 10px;
	padding: 14px 25px;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #f5f7fb;
	border: none;
	cursor: pointer;
}

.warning-message {
	font-family: "Karla", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ff5858;
	margin-bottom: 16px;
}

.result-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.result-message {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	color: #293264;
}
